# IntelliJ
.idea
*.iml

# Mac OS X
.DS_Store

.classpath
.project
.settings
.gradle
gradle.properties
smack-omemo-signal

build/
core/build/
debug/build/
experimental/build/
extensions/build/

build.gradle
settings.gradle

bin/
core/bin
debug/bin
experimental/bin
extensions/bin

target/
.metadata
