# IntelliJ
.idea
*.iml
*.ipr
*.iws
!.idea/icon.svg

# Mac OS X
.DS_Store

.classpath
.project
.settings
.gradle
gradle.properties

build/
core/build/
debug/build/
experimental/build/
extensions/build/
out/

bin/
core/bin
debug/bin
experimental/bin
extensions/bin

target/
.metadata

local.properties
