Paul Schaub <vanitasvitae@fsfe.org>
Aditya Borikar <adityaborikar2@gmail.com>
Anno van Vliet <annovanvliet@gmail.com>
Daryl E. Herzmann <akrherz@iastate.edu>
Damian Minkov <damencho@jitsi.org>
Craig Hesling <craig@hesling.com>
Dave Stanley <dave.stanley@gossinteractive.com>
Marcel Heckel <marcel.heckel@ivi.fraunhofer.de>
Candy Lohse <candy.lohse@ivi.fraunhofer.de>
Luca Stucchi <stucchi@skebby.it>
Luke Granger-Brown <git@lukegb.com>
Florian Kimmann <florian.kimmann@tu-dortmund.de>
Adam Stawicki <adamstawicki91@gmail.homas>
Andrey Sokolov <andrey.sokolov@billing.ru>
Andri Khrisharyadi <andri.khrisharyadi@gmail.com>
Andriy Tsykholyas <andriy.tsykholyas@gmail.com>
Fernando Ramirez <f.e.ramirez94@gmail.com>
Marcel Heckel <marcel.heckel@ivi.fraunhofer.de>
Robin Collier <rcollier@b35dd754-fafc-0310-a699-88a17e54d16e>
Thibaut Le Guilly <leguilly.thibaut@gmail.com>
Thomas Pocreau <thomas.pocreau@iadvize.com>
Vadim Fite <vadim.fite@quickblox.com>
Vaibhav Ranglani <vaibhav.ranglani@talentica.com>
Xiaowei YAN <xwyan@minigui.org>

Guus der Kinderen <guus.der.kinderen@gmail.com> guus <guus@b35dd754-fafc-0310-a699-88a17e54d16e>
Jesus Fuentes <fuentes.jesus1010010@gmail.com> Jesus <fuentes31j@gmail.com>
