<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%blue(%-5level) %green(%logger{35}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%blue(%-5level) %green(%logger{35}) - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDERR" />
    </root>

</configuration>